pandas
seaborn
scikit-learn
openpyxl
flask
flask_cors
appdirs
arrow
atomicwrites
black
brotlipy
certifi
click
cycler
docopt
entrypoints
fonttools
gunicorn
inflection
itsdangerous
kiwisolver
MarkupSafe
matplotlib
mccabe
mistune
mypy-extensions
pathspec
Pillow
pipreqs
pyls-spyder
python-lsp-jsonrpc
python-lsp-server
pytz
Werkzeug
