<html>

<head>
    <title>Zoo Animal Type Classification</title>
</head>

<body>
    <p><b>Disclaimer : </b>This web application is created just for academic purpose. It is just created for learning end-to-end flow of Machine Learning models. <br/>
        <i><b>So please do not use this application for classification purpose as this model is trained with limited data.</b></i></p>
<h1>Zoo Animal Type Classification Home Page</h1>

    <div class="container">

        <form action="\predict" method="post">

            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <!-- Source -->
                            <h4 class="card-title">Hair : </h4>
                            <select name="Hair" id="Hair" required="required">
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <!-- Source -->
                            <h4 class="card-title">Feathers : </h4>
                            <select name="Feathers" id="Feathers" required="required">
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                            </select>
                        </div>
                    </div>
                </div>
        
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <!-- Source -->
                            <h4 class="card-title">Eggs : </h4>
                            <select name="Eggs" id="Eggs" required="required">
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <!-- Source -->
                            <h4 class="card-title">Milk : </h4>
                            <select name="Milk" id="Milk" required="required">
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <!-- Source -->
                            <h4 class="card-title">Airborne : </h4>
                            <select name="Airborne" id="Airborne" required="required">
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <!-- Source -->
                            <h4 class="card-title">Aquatic : </h4>
                            <select name="Aquatic" id="Aquatic" required="required">
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <!-- Source -->
                            <h4 class="card-title">Predator : </h4>
                            <select name="Predator" id="Predator" required="required">
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <!-- Source -->
                            <h4 class="card-title">Toothed : </h4>
                            <select name="Toothed" id="Toothed" required="required">
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <!-- Source -->
                            <h4 class="card-title">Backbone : </h4>
                            <select name="Backbone" id="Backbone" required="required">
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <!-- Source -->
                            <h4 class="card-title">Breathes : </h4>
                            <select name="Breathes" id="Breathes" required="required">
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <!-- Source -->
                            <h4 class="card-title">Venomous : </h4>
                            <select name="Venomous" id="Venomous" required="required">
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <!-- Source -->
                            <h4 class="card-title">Fins : </h4>
                            <select name="Fins" id="Fins" required="required">
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <!-- Source -->
                            <h4 class="card-title">Legs : </h4>
                            <select name="Legs" id="Legs" required="required">
                                <option value="0">0</option>
                                <option value="2">2</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="8">8</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <!-- Source -->
                            <h4 class="card-title">Tail : </h4>
                            <select name="Tail" id="Tail" required="required">
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <!-- Source -->
                            <h4 class="card-title">Domestic : </h4>
                            <select name="Domestic" id="Domestic" required="required">
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <!-- Source -->
                            <h4 class="card-title">Catsize : </h4>
                            <select name="Catsize" id="Catsize" required="required">
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                            </select>
                        </div>
                    </div>
                </div>

            </div>
            <br>
            <!-- Submit -->
            <input type="submit" value="Submit" class="btn btn-secondary">
        </form>
    </div>

    </div>

</body>

</html>